/* /styles/fonts.css */

/* --- Google Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* --- Self-hosted Fonts --- */
@font-face {
  font-family: Trajan;
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url("/fonts/TrajanPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Trajan;
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url("/fonts/TrajanPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: Pristina;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Pristina.ttf") format("truetype");
}

@font-face {
  font-family: Garet;
  font-style: normal;
  font-weight: 400; /* Book */
  font-display: swap;
  src: url("/fonts/Garet-Book.woff2") format("woff2");
}

@font-face {
  font-family: Garet;
  font-style: normal;
  font-weight: 700; /* Heavy */
  font-display: swap;
  src: url("/fonts/Garet-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: Brittany;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/BrittanySignatureScript.ttf") format("truetype");
}
